<style>

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}


.header {
  text-align: center;
  margin: 25px 50px 35px;
  background-color: #666;
  color: #fff;
  border-radius: 3px;
  padding: 10px;
  font-size: 18px;
}

.footer {}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

body {
  color:#fff;
  background-color: #333;
  padding: 20px;
  font-family: 'Share Tech Mono';
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.box {
  background-color: #333;
  color: #fff;
  border-radius: 6px;
  padding: 20px;
  font-size: 20px;
}

.whiteboard {
  width: 80%;
  height: 80%;
}

img {
  width: 100%;
  height: Auto;
}

a {
  color: white
}

a:link {
  color: white;
}

a:visited {
  background-color: grey;
}

a:hover {
  background-color: black;
}

a:active {
  background-color: black;
}
</style>
